<div class="widget-parent">
  <div class="form" style="overflow: auto;">
    <div class="ui_parent">
      <div class="input-group mb-3">
        <span class="input-group-text">Ratio</span>
        <input (change)="handleHeight($event)" type="number" class="form-control" placeholder="height" aria-label="Username">
        <span class="input-group-text">/</span>
        <input  (change)="handleWidth($event)"type="number" class="form-control" placeholder="width" aria-label="Server">
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text">Select background image</label>
        <input (change)="handleFileChange($event)" type="file" class="form-control pointer-events-none"
          id="inputGroupFile02">

      </div>
      <div class="input-group mb-3">
        <label class="input-group-text">Select route</label>
        <input (change)="handleRouteChange($event)" type="file" class="form-control" id="inputGroupFile02">
      </div>
      <div>
      </div>
    </div>
    <div class="checkpoint_parent">
      <!-- <div *ngFor="let element of prize;let i=index">
        <form class="form" [formGroup]="element">
        <div class="input-group mb-3">
          <label class="input-group-text">Add checkpoint</label>
          <input (change)="handleRouteChange($event)" type="file" class="form-control" id="inputGroupFile02"><span
            (click)="handleAddMore()" class="input-group-text">+</span>
        </div>
      </form>
      </div> -->
      <div class="tab" *ngFor="let formGroupName of checkpointGroup; let i=index">
        <form [formGroup]="formGroupName">
          <div class="input-group mb-3">
            <button type="button" class="btn btn-info">{{i+1}}</button>
            <label class="input-group-text">Checkpoint</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select checkpoint type</option>
              <option value="1">Future</option>
              <option value="2">Current</option>
              <option value="3">Missed</option>
              <option value="4">Played</option>
              <option value="4">Placeholder</option>
            </select>
            <input (change)="handlebackgroundImage($event,i)" type="file" class="form-control" id="inputGroupFile02">
            <span class="input-group-text" id="inputGroup-sizing-sm"> 
             X : {{formGroupName.get('left').value}}
            </span>
            <span class="input-group-text" id="inputGroup-sizing-sm">Y : {{formGroupName.get('top').value}}
              <label class="form-check-label edt_text" for="flexSwitchCheckChecked">size</label>
              <div class="form-check form-switch form_data_switch form_view">
              <input type="number" placeholder="size" (change)="handleSizeChange($event,i)" [value]="fix_height" class="form-control" aria-label="" style="width: 100px; height: 25px;">
            </div>
            </span>
            <button type="button" class="btn btn-info" (click)="handleCheckpointElement(i)">+</button>
            <button type="button" class="btn btn-danger" (click)="handleDelete(i)">X</button>

          </div>
        </form>
      </div>
      <div style="display: flex;justify-content: space-between;">
      <button (click)="handleAddMore()" type="button" class="btn btn-primary btn-lg">Add checkpoint</button>
      <button (click)="handleSubmit()" type="button" class="btn btn-success">Submit</button>
    </div>
    <pre *ngIf="payload" style="padding: 20px;">{{payload | json}}</pre>

    </div>
  </div>
  <div class="preview">
    <p *ngIf="payload && isPreviewOpen" class="fw-bolder">Showing Preview</p>
    <div *ngIf="payload && isPreviewOpen" class="preview_main " [class.resize]="payload" [style.height.px]="parentHeight" [style.width.px]="parentWidth">
      <div [style.backgroundImage]="'url(' + payload.background_image + ')'" class="preview_bg">
        <div [style.backgroundImage]="'url(' + payload.route + ')'" class="path_parent" >
          <div *ngFor="let formGroupName of payload.checkpoints; let i=index">
            
              <div id="movables" class="movable_circle" 
              (mousedown)="onMouseDown($event, i)"
              [style.backgroundImage]="'url(' + formGroupName.checkpointImage + ')'"
                [style.left.%]="formGroupName.checkpointLeftPercentage" [style.height.%]="formGroupName.checkpointHeightPercentage" [style.top.%]="formGroupName.checkpointTopPercentage">
                <!-- <div class="resizable_div">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <p *ngIf="!payload || !isPreviewOpen" class="fw-bolder">Editing</p>
    <div *ngIf="!payload || !isPreviewOpen" class="preview_main " [style.height.px]="parentHeight" [style.width.px]="parentWidth">
      <div #inner class="preview_bg">
        <div #route class="path_parent" >
          <div *ngFor="let formGroupName of checkpointGroup; let i=index">
            
              <div id="movables" class="movable_circle bgimg" 
              (mousedown)="onMouseDown($event, i)"
                [style.left.px]="formGroupName.get('left').value" [style.height.px]="formGroupName.get('height').value" [style.top.px]="formGroupName.get('top').value">
                <div class="inner_items">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>